{{- $interactive := stdinIsATTY -}}
{{- $email := promptStringOnce . "email" "Email address" "vader@example.org" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $miseos := .chezmoi.os -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $miseos = "macos" -}}
{{- end -}}
{{- $misearch := .chezmoi.arch -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $misearch = "x64" -}}
{{- end -}}
{{- $exercismarch := .chezmoi.arch -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $exercismarch = "x86_64" -}}
{{- end -}}

{{- if $interactive -}}
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = {{ onepasswordRead "op://Personal/chezmoi/public-key" | quote}}
[onepassword]
    mode = "account"
{{- end }}
[data]
    encryption = "age"
    interactive = {{ $interactive | quote }}
    email = {{ $email | quote }}
    osid = {{ $osid | quote }}
    miseos = {{ $miseos | quote }}
    misearch = {{ $misearch | quote }}
    exercismarch = {{ $exercismarch | quote }}
[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination }}", "{{ "{{" }} .Source }}", "{{ "{{" }} .Target }}"]


