{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{ $miseos := .chezmoi.os }}
# if .chezmoi.os equals darwin, use macos. if not, use the value in .chezmoi.os
{{- if eq .chezmoi.os "darwin" -}}
{{-   $miseos = "macos" -}}
{{- end -}}
{{ $misearch := .chezmoi.arch }}
# if .chezmoi.os equals darwin, use macos. if not, use the value in .chezmoi.os
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $misearch = "x64" -}}
{{- end -}}

[data]
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = {{ onepasswordRead "op://Personal/chezmoi/public-key" | quote}}
[onepassword]
    mode = "account"
[data]
    email = {{ $email | quote }}
    osid = {{ $osid | quote }}
    miseos = {{ $miseos | quote }}
    misearch = {{ $misearch | quote }}
[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination }}", "{{ "{{" }} .Source }}", "{{ "{{" }} .Target }}"]


