[submodule "meta/dotbot-asdf"]
	path = meta/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "meta/dotbot-brewfile"]
	path = meta/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "meta/dotbot-pip"]
	path = meta/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
  ignore = dirty
