bindkey -e
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export EDITOR=nvim
export COLORTERM=truecolor

# Start typing + [Up-Arrow] - fuzzy find history forward
autoload -U up-line-or-beginning-search
zle -N up-line-or-beginning-search

bindkey -M emacs "^[[A" up-line-or-beginning-search
bindkey -M viins "^[[A" up-line-or-beginning-search
bindkey -M vicmd "^[[A" up-line-or-beginning-search
if [[ -n "${terminfo[kcuu1]}" ]]; then
  bindkey -M emacs "${terminfo[kcuu1]}" up-line-or-beginning-search
  bindkey -M viins "${terminfo[kcuu1]}" up-line-or-beginning-search
  bindkey -M vicmd "${terminfo[kcuu1]}" up-line-or-beginning-search
fi

# Start typing + [Down-Arrow] - fuzzy find history backward
autoload -U down-line-or-beginning-search
zle -N down-line-or-beginning-search

bindkey -M emacs "^[[B" down-line-or-beginning-search
bindkey -M viins "^[[B" down-line-or-beginning-search
bindkey -M vicmd "^[[B" down-line-or-beginning-search
if [[ -n "${terminfo[kcud1]}" ]]; then
  bindkey -M emacs "${terminfo[kcud1]}" down-line-or-beginning-search
  bindkey -M viins "${terminfo[kcud1]}" down-line-or-beginning-search
  bindkey -M vicmd "${terminfo[kcud1]}" down-line-or-beginning-search
fi
# path stuff
export PATH=$PATH:~/.bin:~/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:~/code/lua-language-server/bin
export PATH="/usr/local/opt/openssl/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

eval "$(mise activate zsh)"
eval "$(mise hook-env -s zsh)"

{{ if eq .chezmoi.os "darwin" -}}
{{-   include "zshrc.darwin" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include "zshrc.linux" -}}
{{- end }}

zsh_plugins=${ZDOTDIR:-~}/.zsh_plugins

fpath=(~/.zsh_completions $fpath)
# Lazy-load antidote from its functions directory.
fpath=(~/.antidote/functions $fpath)
autoload -Uz antidote

# Generate a new static file whenever .zsh_plugins.txt is updated.
if [[ ! ${zsh_plugins}.zsh -nt ${zsh_plugins} ]]; then
  antidote bundle <${zsh_plugins} >|${zsh_plugins}.zsh
fi

autoload -Uz compinit
compinit

ZSH_AUTOSUGGEST_STRATEGY=(completion)
ZSH_AUTOSUGGEST_HISTORY_IGNORE="z *"
# move a lot of files, syntax: mmv (mmv *.c.orig orig/*.c)
autoload -Uz zmv
alias mmv='noglob zmv -W'

# local stuff
[ -f ~/.zshrc.local ] && source ~/.zshrc.local

[ -z "$HISTFILE" ] && HISTFILE="$HOME/.zsh_history"
[ "$HISTSIZE" -lt 50000 ] && HISTSIZE=50000
[ "$SAVEHIST" -lt 10000 ] && SAVEHIST=10000
setopt EXTENDED_HISTORY          # Write the history file in the ':start:elapsed;command' format.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST    # Expire a duplicate event first when trimming history.
setopt HIST_IGNORE_DUPS          # Do not record an event that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS      # Delete an old recorded event if a new event is a duplicate.
setopt HIST_FIND_NO_DUPS         # Do not display a previously found event.
setopt HIST_SAVE_NO_DUPS         # Do not write a duplicate event to the history file.
setopt HIST_VERIFY               # Do not execute immediately upon history expansion.
setopt APPEND_HISTORY            # append to history file
setopt HIST_NO_STORE             # Don't store history commands
export _ZL_MATCH_MODE=1

alias j=z
alias v="nvim"
alias cat="bat"
alias ls="eza"
alias l="ls -la --icons=auto --git --no-permissions -o --group-directories-first"
alias m="mise"
alias mi="mise install"
alias mu="mise use"
alias ch="chezmoi"
alias cha="chezmoi apply && source ~/.zshrc"
alias che="chezmoi edit"
alias chu="chezmoi update"
alias chsh="chezmoi edit ~/.zshrc && cha"
alias chc="chezmoi edit-config && ch init"
alias pr="gh f -p"

export FZF_DEFAULT_COMMAND='rg --files --no-ignore-vcs --hidden'
export FZF_TMUX=1
export FZF_CTRL_R_OPTS="--preview-window=hidden"
export FZF_TMUX_OPTS="-p 75%,75%"
export FZF_PREVIEW_COMMAND="if [[ -d {} ]]; then eza --icons=always --git --level 2 --tree --color=always --group-directories-first {}; elif [[ -f {} ]]; then bat --style=full --color=always {}; fi"
export FZF_DEFAULT_OPTS="--border='rounded' --preview='$FZF_PREVIEW_COMMAND' --prompt='⌘ '"
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
bindkey '\e[19~' autosuggest-accept

{{- if eq .chezmoi.os "darwin" -}}
eval $(ssh-agent -s) > /dev/null
ssh-add -q
{{ end }}

function chpwd() {
  tmux rename-window $(shrink_path -f)
}

source ~/.github_token
eval "$(hub alias -s)"

eval "$(~/.local/bin/mise activate zsh)"
MISE_ENV_FILE=.env

# Source your static plugins file.
source ${zsh_plugins}.zsh
