#!/usr/bin/env zsh
eval "$(mise activate zsh --shims)"
eval "$(mise activate zsh)"

mise install -y {{- range .packages.mise }} {{ . }} {{- end }} -q
mise install node@20.12.2 -q
mise install pipx:powerline-status -q
