{{ if eq .osid "linux-debian" -}}
#!/usr/bin/env zsh
sudo apt-get -y install build-essential bat cmake ninja-build dmg2img \
  ffmpeg fzf git jq yq git git-man postgresql silversearcher-ag \
  tmux tree vim wget zsh zsh-syntax-highlighting zsh-autosuggestions \
  pipx p7zip-full neovim
EOF
{{ end -}}
